.text-center{
    text-align: center;
    font-size: 14px;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.el-card{
    font-size: 14px;
}
.el-table td,
.el-table th{
    text-align: center!important;
}